/* ---------- Color Module Styles ----------- */
body { 
	color:#494949; 
}

a { color:#c32d28; }
a:hover {
	color:#b5a997;
	-webkit-transition: color .3s ease-in;
	-moz-transition: color .3s ease-in;
	-ms-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	transition: color .3s ease-in;
}

#header-menu a, #header-menu ul.menu li a, #navigation .block-superfish ul.sf-menu li a { color:#455560; }

.button {
	width:100%;
	padding:0px 0 15px 0;
	margin:0px;
}
.button a {
	display:inline-block;
	color:#ffffff;
	background:#0078ae;
	padding:4px 6px 5px 6px;
}
.button a:hover {
	background:#c8462c;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	line-height: 1.02em;
	letter-spacing:0.03em;
}
h1 {
	font-size:26px;
	color:#181716;
	font-weight:normal;
	font-style:normal;
} 
h2 {
	font-size:22px;
	color:#807665;
	font-weight:200;
	font-style:normal;
	
} 
h3 {
	font-size:19px;
	color:#381b1b;
	font-weight:normal;
	font-style:normal;
}
h4 {
	font-size:17px;
	color:#381b1b;
	font-weight:200;
	font-style:normal;
	
}
h5 {
	font-size:16px;
	color:#4f4840;
	font-weight:normal;
	font-style:normal;	
}
h6 { 
	font-size:16px;
	color:#7d736f;
	font-weight:normal;
	font-style:normal;
}
p {
	font-weight:200;
	font-size:14px;
}
li {
	color:#819596;
	font-weight:200;
	font-size:14px;
}
#slogan { 
	color:#4f4840; 
}

table td, table th {
	border: none;
	padding:0px;
}
tbody {
  border-top: none;
}
/** button **/
.orange-button {
	display:block;
	width:10em;
	margin:0px auto;
	padding:8px 15px;
	font-size:16px;
	color:#4f4b40;
	text-shadow: 1px 1px 0px #ffefd9;
	text-align:center;
	filter: dropshadow(color=#945605, offx=1, offy=1);
	background-color: #fcba63;
	border:2px solid #fcba63;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(254, 240, 218, 1);
	box-shadow: inset 0px 0px 0px 1px rgba(254, 240, 218, 1);
}
.orange-button:hover {	
	color:#4f4b40;
	text-shadow: 1px 1px 0px #ffefd9;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	background-color: #f5a258;
	border:2px solid #f5a258;

}
.tan-button {
	display:block;
	width:158px;
	margin:0px auto;
	padding:7px 0px;
	font-size:14px;
	line-height:16px;
	color:#352222;
	text-align:center;
	text-transform:capitalize;
	text-shadow: 1px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
	background-color: #f4f2eb;
	border:2px solid #f4f2eb;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(211, 202, 178, 1),  1px 1px 4px 0px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0px 0px 0px 1px rgba(211, 202, 178, 1),  1px 1px 4px 0px rgba(0, 0, 0, 0.7);
}
#footer {
	color:#4f4b40;
}
#footer a {
	color:#4f4b40;
}
#footer a:hover {
	color:#c32d28;
}
#footer p {
	font-size:15px;
	margin:0px;
	padding:0px;
}
#footer strong {
	font-weight:bold;
}
.footer-menu-set ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.footer-menu-set ul li {
	margin: 0px;
	padding: 0px 10px 7px 0;
	list-style-type: none;
	color: #85837b;
	font-size: 15px;
	line-height: 17px;
	font-weight: normal;
}
.footer-menu-set ul li strong {
	font-weight:normal;
}
.footer-menu-set ul li em {
	font-style:normal;
	font-size:14px;
}
.footer-menu-set ul li a {
	display:block;
	margin:0px;
	padding:0px;
	list-style-type:none;
	color:#85837b;
}
.footer-menu-set ul li a:hover {
	color:#c32d28;
}
.block.button-img-block .block-content {
	padding:0px;
	border:none;
}