<div id="preview">
    <!-- Header. -->
    <div id="preview-header">
    
        <div id="preview-header-inside">
            <div id="preview-logo"><img src="../../../themes/arancino/logo.png" alt="Site Logo" /></div>
            <div class="clearfix">
                <span id="preview-site-name"><a href="#">Site-name</a></span> <span id="preview-slogan">Slogan</span>
             </div>
        </div><!-- EOF: #header-inside -->
    
    </div><!-- EOF: #header -->
    
    <!-- Header Menu. -->
    <div id="preview-header-menu">
        <ul class="menu">
        <li><a>Home</a></li>
        <li><a>Te Quidne</a></li>
        <li><a>Vel Torqueo Quae Erat</a></li>
        </ul>
    </div><!-- EOF: #header-menu -->
    
    <!-- Banner. -->
    <div id="preview-banner">
    
    <strong>Banner:</strong> Maecenas id porttitor Ut enim ad minim veniam, quis nostrudfelis. Laboris nisi ut aliquip ex ea.
    
    </div><!-- EOF: #banner -->
    
    
    <!-- Content. -->
    <div id="preview-content">

		<h1>Headings</h1>
		<div id="preview-main">
        <strong>Main:</strong> Sit amet, <a>consectetur adipisicing elit</a>, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud <a>exercitation ullamco</a> laboris nisi ut aliquip ex ea
        commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
        <p><a class="more">Read more</a></p>
        </div>
        
        <div id="preview-sidebar">
            <div class="block"><strong>Sidebar:</strong> Sit amet, <a>consectetur adipisicing elit</a>, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
            </div>
        </div>

    </div><!-- EOF: #content -->
    
    <!-- Footer -->    
    <div id="preview-footer">
    
        <div id="preview-footer-inside">
		<strong>Footer:</strong> Maecenas id porttitor Ut enim <a>exercitation ullamco</a> ad minim veniam, quis nostrudfelis.
        </div><!-- EOF: #footer-inside -->
    
    </div><!-- EOF: #footer -->
    
    <!-- Footer -->    
    <div id="preview-footer-bottom">

		<strong>Footer-bottom:</strong> Maecenas id porttitor Ut enim <a>exercitation ullamco</a> ad minim veniam, quis nostrudfelis.
    
    </div><!-- EOF: #footer -->
</div>
