.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}

#company-logo a.logo, .section-arancino-kahala #company-logo a.logo, .node-type-kahala-page #company-logo a.logo  {
	background:transparent url('images/logo-kahala.png') no-repeat 0 0;	
	background-size: cover;
	-moz-background-size: cover;
	display: block;
	margin: 0 auto;
	width: 200px;
	text-align: center;
}
.section-arancino-kahala #company-logo a.logo, .node-type-kahala-page #company-logo a.logo {
	width: 200px;
	height: 47px;
	top: 50px;
}
/*****home promo box*****/
#content-inside #highlighted.front-highlight {
	min-height: 480px;
}
#block-block-1.arancino-box, #block-block-13.arancino-box {
	width:320px;
	height: 236px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
}
#block-block-1.arancino-box .block-content h3, 
#block-block-13.arancino-box .block-content h3 {
	font-size: 15px;
	padding: 0;
}
.i18n-ja #block-block-1.arancino-box .block-content h3, 
.i18n-ja #block-block-13.arancino-box .block-content h3 {
	font-size: 14px;
	padding: 0;
}
#block-block-1.arancino-box .block-content p, 
#block-block-13.arancino-box .block-content p {
	font-size: 10px;
	line-height: 11px;
}
/*.i18n-ja #block-block-1.arancino-box .block-content p, 
.i18n-ja #block-block-13.arancino-box .block-content p {
	font-size: 9px;
}*/
/*****navigation*****/
#navigation .region-navigation ul.menu li a{
	font-size: 14px;
}
.i18n-ja #navigation .region-navigation ul.menu li a{
	font-size: 13px;
}
#navigation .region-navigation ul.menu li {
	min-width:95px;
}
#navigation #block-system-main-menu:after, 
#navigation #block-system-main-menu:before {
	background: none;
}
#navigation #block-system-main-menu {
    background-image: none;
}
#navigation #block-system-main-menu ul.menu li a, 
#block-locale-language .language-switcher-locale-url li a {
	text-shadow: 1px 1px #ffffff;
}
/*****main*****/
.sidebar-second #main.grid_9 {
    background-size: cover;
    -moz-background-size: cover;
    width: 95%;
}
.not-front #wrapper #content {
    padding-top: 0px;
    padding-bottom: 0px;
}
#main.grid_9 .region-content {
	min-height: 0px;
}

/*****sidebar*****/
.sidebar-second #content-inside #sidebar-second {
    background-size: cover;
    -moz-background-size: cover;
    float: left;
    margin: 10px 0 0 10px;
    width: 95%;
}
#sidebar-second .region-sidebar-second .block .block-title h2 {
	padding: 2% 5.65% 1%;
}
#sidebar-second .region-sidebar-second .block .block-title {
    height: 20%;
}
#sidebar-second .region-sidebar-second .block .block-content {
	padding: 3% 3% 1% 3%;
}

.breadcrumb {
	display: none;
}

/*****footer*****/
#footer-bottom-inside {
	padding: 0 0 0 20px;
}
#footer-bottom-inside .footer-menu-set ul li {
    padding: 0 10px 15px 0;
}
/*****news page*****/
.article-new-page .views-row .article-thumb,
.article-new-page .views-row img {
	background-size: cover;
	-moz-background-size: cover;
	width: 25%;
	padding: 3px;
}
.article-new-page .views-row .article-title, 
.article-new-page .views-row .article-description, .article-new-page .views-row p {
    padding: 0 0 0 29%;
}
/*****sub page banner*****/
.not-front #background-zone {
    height: auto;
    width: 100%;
}

/***menu page*****/
#block-system-main .view-restaurant-menu .view-content .views-row {
    height: auto;
}
#block-system-main .view-restaurant-menu .view-content .views-row .views-field {
    padding: 0 0 0 20%;
}
#block-system-main .view-restaurant-menu .view-content h3 {
	padding:20px 0 15px 20%;
}
/*****location*****/
#gmap-auto1map-gmap0 {
	display: none;
}

#content #block-views-location-map-block-1 .view-header {
    float: none;
    margin: 0 auto;
    max-width: 320px;
    text-align: center;
}

.view-location-map .tan-button {
	width: 100%;
}
.content-wrap #block-views-location-map-block-1 .view-header ul li {
    padding: 0 10% 0 0;
}

/*****photo*****/
.node-type-photo-gallery .view-id-photo_gallery #image_wrap {
	width: 100%;
	height: auto !important;
	min-height: 250px;
}
.node-type-photo-gallery .view-id-photo_gallery .scroll-wrap, .node-type-photo-gallery .view-id-photo_gallery .scrollable {
    width: 220px;
}
.hide-block {
	display: none;
}