body {
	font-family:"proxima-nova", arial, helvetica, sans-serif;
	font-size:0.8em;
	font-weight:200;
	margin: 0;
	padding: 0;
	outline: 0 none;
	vertical-align: baseline;	
	background:#ffffff url('images/bg_white.png') repeat 0 0;
}
#admin-menu {
	z-index:2200;
	margin:0px;
	padding:0px;
}
body.admin-menu #wrapper { 
	top:45px;
	position:relative;
}

html body.admin-menu {
	margin-top: 0px !important;
}
body.admin-menu #navigation {
	top:50px;
}
#background-zone {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:auto;
	z-index:30;
}
#header {
	position:relative;
	z-index:300;
}
#content {
	position:relative;
	z-index:300;
}
#highlighted.front-highlight {
	min-height:561px;
	height:auto !important;
	height:561px;
	position:relative;
}
#footer-bottom {
	position:relative;
	z-index:300;
}
#admin-menu li {
	font-size:12px !important;
}
#overlay-container {
	z-index:2800;
}
.overlay #admin-menu {
	display:none;
}
.region-page-bottom {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	padding:0px;
	margin:0px;
}

.left-image {
	float:left;
	padding:0 20px 0 0;
}
.left-image + p {
	padding-top:25px;
}
/** header contact **/
ul, ol {
	padding: 0 12px 12px 30px;
	margin: 0;
}
p {
	font-size: 14px;
	line-height: 21px;
	padding: 0 0 15px 0;
	margin:0px;
}
p + h2, p + h3 {
 padding: 20px 0 0 0;
}
li {
	font-size:14px;
	line-height:21px;
	margin:0px;
	padding:3px 0;
	list-style-type:square;
}
table { 
	font-size: 14px;
}
.quicktabs_main table {
	margin-bottom: 6px;
}
a, li a.active {
	text-decoration: none;
}

a img {
	border: none;
	outline: none;
	display: block;
	overflow: hidden;
}

img.masked, .field-type-image img {
	background: transparent url('images/pattern.png');
	border: 1px solid #d8d8d8;
	padding: 10px;
	margin: 10px 0;
}

img {
	max-width: 100%;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

code {
	font-family: "Courier New", Courier, monospace;
}

blockquote {
	background: transparent url('images/blockquote.png') no-repeat top left;
	margin: 40px 0;
	padding: 0 55px;
}

.breadcrumb {
	padding: 8px 10px 10px 15px;
	text-shadow: 1px 1px #ffffff;
}

.breadcrumb-separator {
	padding: 0 8px 0 4px;
}

.submitted {
	margin: -15px 0 20px 0;
	font-size: 85%;
	text-transform: uppercase;
}
.region-content {
	line-height: 155%;
	padding:20px 0 40px 0;
}

#site-name {
	font-size: 130%;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6,
#footer-bottom h1, #footer-bottom h2, #footer-bottom h3, #footer-bottom h4, #footer-bottom h5, #footer-bottom h6 {
	text-shadow: none;
}
/*
* Layout
*/
#header {
	clear: both;
}

#header-inside {
	margin: 0 auto;
	padding: 0;
	overflow:visible;
}
#header-inside-left {
	padding:0;
	margin:0px;
	position:relative;
}
#company-logo {
	display:block;
	position:relative;
	/*background-image:url('images/highlight_logo.png');
	background-repeat:no-repeat;
	background-position:0 0;
	background-size: cover;
	-moz-background-size: cover;*/
}
#header-menu {
	clear: both;
}

#logo {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.section-arancino-kahala #company-logo a.logo,
.node-type-kahala-page #company-logo a.logo {
	background:transparent url('images/logo-kahala.png') no-repeat 0 0;	
	background-size: cover;
	-moz-background-size: cover;
}
.section-arancino-kahala #company-logo a.logo img,
.node-type-kahala-page #company-logo a.logo img {
	display:none;
}
#logo img {
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
}

#banner {
	clear: both;
	border-bottom: 1px solid #fcfcfc;
	overflow: hidden;
}

#content {
	clear: both;
	overflow: visible;
}
.not-front #content {
	padding-top:134px;
	padding-bottom:38px;
}
#content-inside {
	margin-top: 0px;	
	padding:0px;
	overflow: visible;
}
#main .content-wrap {
	background:transparent url('images/bg_border_container.png') repeat 0 0;
	padding:1.42%;
}
#main h1.page-title {
	background:#f6f6f5;
	padding:4.4% 4.4% 0 4.4%;
}
#main .region-content {	
	min-height:300px;
	height:auto !important;
	height:300px;
	background:#f6f6f5;
	padding:3.67% 4.4% 4.2% 4.4%;
}
.no-sidebars #sidebar {
	display: none;
}
.sidebar-second #main {
	float:left;
}
.sidebar-second #sidebar-second {
	float:right;
}
.meta-data {
	font-size: 75%;
	text-transform: uppercase;
	color: #545454;
	margin: 5px 0 20px 0;
	display: block;
	overflow: hidden;
	clear: both;
}
#footer {
	clear: both;
	overflow: hidden;
	padding: 4px 0 2px 0;
	position:relative;
	z-index:300;
	/*background-color: rgba(221, 241, 244, 0.7);
	border-top:1px solid #dce4e7;	
	border-bottom:1px solid #dce4e7;*/
	background-color: rgba(251, 250, 247, 0.7);
	border-top:1px solid #ffffff;	
}
#footer .block-content {
	padding:10px 0 0 0;
}
#footer .button-block .block-content {
	padding:0px;
}
.node.node-teaser {
	margin-bottom: 60px;
}

#footer-bottom {
	clear: both;
	overflow: hidden;
	padding: 8px 0;
	/*background:#dce7e7 url('images/bg_blue.png') repeat 0 0;*/
	background:#e7e7df url('images/bg_beige.jpg') repeat 0 0;
	border-top:1px solid #ffffff;
}
/*
* Sidebar Blocks - Menus
*/
.region-sidebar-second .block {
	margin-bottom:20px;
}
.region-sidebar-second .block .block-title {
	background: rgb(219,225,225); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(219,225,225,1) 45%, rgba(194,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,rgba(219,225,225,1)), color-stop(100%,rgba(194,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(219,225,225,1) 45%,rgba(194,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(219,225,225,1) 45%,rgba(194,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dbe1e1 0%,#c2cccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dbe1e1 0%,#c2cccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbe1e1', endColorstr='#c2cccc',GradientType=0 ); /* IE6-8 */
	
	background: #efede6; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWRlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ1Y2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #efede6 0%, #d6d5cd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efede6), color-stop(100%,#d6d5cd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efede6 0%,#d6d5cd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efede6 0%,#d6d5cd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efede6 0%,#d6d5cd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efede6 0%,#d6d5cd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efede6', endColorstr='#d6d5cd',GradientType=0 ); /* IE6-8 */

}
.region-sidebar-second .block .block-title h2 {
	background:transparent url('images/trans-dots-35.png') repeat 0 0;
	font-size:18px;
	line-height:22px;
	font-weight:800;
	color:#381b1b;
	text-shadow: 1px 1px 0px #ffffff;
  	/*filter: dropshadow(color=#ffffff, offx=1, offy=1);*/
	padding:5.65% 5.65% 3.9% 5.65%;
	margin:0px;
}
.region-sidebar-second .block .block-content {
	background:#f5f5f5;
	border-top:1px solid #d9d7d3;
	border-right:2px solid #d9d7d3;	
	border-bottom:2px solid #d9d7d3;	
	border-left:2px solid #d9d7d3;
	padding:9.13%  5.65% 8.26% 5.65%;
}
.region-sidebar-second ul.menu {
	margin: 0;
	padding: 0 0 0 15px;
	color:#ad9d87;
}
.region-sidebar-second ul.menu li {
	margin: 0;
	padding: 0 0 14px 0;
	list-style-image: none;
	font-size:16px;
	font-weight:normal;
	line-height:18px;
	position:relative;
	text-align:left;
	color:#ad9d87;
}

.region-sidebar-second ul.menu li a {	
	display: block;
	color:#181716;
}
.region-sidebar-second ul.menu li a:hover {
	color:#85837b;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.region-sidebar-second ul.menu li.active a {
	color:#c32d28;
}
.region-sidebar-second ul.menu ul.menu {
	padding: 5px 0 0 15px;
}
.region-sidebar-second ul.menu ul.menu li {
	font-size:14px;
}
.region-sidebar-second ul.menu li.collapsed, #footer .block ul.menu li.collapsed {

}
.region-sidebar-second ul.menu li.expanded, #footer .block ul.menu li.expanded {

}
.region-sidebar-second ul.menu li ul.menu li {
	padding:0 0 3px 0;
}
/** Sidebar services buttons **/
.button-menu ul {
	margin:0px;
	padding:0px;
}
.button-menu ul li {	
	margin:10px 0 0 0;
	padding:0px;
	list-style-type:none;
	background:#0068b3;
	font-size:13px;
	font-weight:bold;
	line-height:31px;
	letter-spacing:0.04em;
	text-transform:uppercase;
	color:#ffffff;
	text-align:center;
	-webkit-border-radius: 5px;
  border-radius: 5px;
}
.button-menu ul li a {	
	display:block;
	margin:0px;
	padding:0px;
	color:#ffffff;
}
.button-menu ul li:hover {	
	background:#ef4857;
}
/*
* Contact
*/
.contact-form {
	margin: 10px 0;
}

.filter-wrapper {
	border: 1px solid #DDDDDD;
	border-top: none;
}

.user-picture {
	float: left;
	padding: 0 20px 10px 0;
}
/*
* Main-menu
*/
/* 1st Level */
#block-system-main-menu {
	clear:both;
	background:transparent url('images/bg_nav.png') repeat-x 0 0;
	height:56px;
	position:relative;
}
#block-system-main-menu:after {
	content:'.';
	display:block;
	color:#FCFCFD;
	background: -moz-linear-gradient(left,  rgba(246,246,246,0) 0%, rgba(246,246,246,6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(246,246,246,0)), color-stop(100%,rgba(246,246,246,6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(246,246,246,0) 0%,rgba(246,246,246,6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(246,246,246,0) 0%,rgba(246,246,246,6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(246,246,246,0) 0%,rgba(246,246,246,6) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(246,246,246,0) 0%,rgba(246,246,246,6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fcfcfd', endColorstr='#b0fcfcfd',GradientType=1 ); /* IE6-9 */
	height:56px;
	width:48px;
	position:absolute;
	right:0px;
	top:0px;
	text-indent:-9999px;
	overflow:hidden;
	z-index:75;
}
#block-system-main-menu:before {
	content:'.';
	display:block;
	color:#FCFCFD;
	background: -moz-linear-gradient(left,  rgba(246,246,246,6) 0%, rgba(246,246,246,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(246,246,246,6)), color-stop(100%,rgba(246,246,246,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(246,246,246,6) 0%,rgba(246,246,246,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(246,246,246,6) 0%,rgba(246,246,246,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(246,246,246,6) 0%,rgba(246,246,246,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(246,246,246,6) 0%,rgba(246,246,246,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0fcfcfd', endColorstr='#00fcfcfd',GradientType=1 ); /* IE6-9 */
	height:56px;
	width:48px;
	position:absolute;
	left:0px;
	top:0px;
	text-indent:-9999px;
	overflow:hidden;
	z-index:75;
}
#navigation ul.menu {
	display: block;
	padding:3px 0;
	margin: 0;
	position: relative;
	z-index: 100;
}
#navigation ul.menu li ul.menu {
	display:none;
}
#navigation ul.menu li {
	display: inline-block;
	float: left;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	width:16.66%;
	min-width:105px;
	position:relative;
}
#navigation ul.menu li a {	
	display: block;
	outline: none;
	text-decoration: none;
	margin:0 auto;
	padding:0;
	height:50px;
	width:98%;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height:50px;
	letter-spacing:0.03em;
	background:transparent;
	color:#181716;
}
#navigation ul.menu li a:hover {
	color:#c32d28;
}
#navigation ul.menu li a.active,
#navigation ul.menu li a.active-trail {
	color:#c32d28;	
	background:transparent url('images/active-menu.png') no-repeat 50% 50%;
}
/*
* Language menu
*/
#block-locale-language .block-content {
	padding:18px 0 13px 0;
}
.language-switcher-locale-url {
	margin:0px;
	padding:0px 56px 0 0;
	text-align:right;
}
.language-switcher-locale-url li {
	padding:0px;
	margin:0px;
	list-style-type:none;
}
.language-switcher-locale-url li a {
	color:#c32d28;
}
.language-switcher-locale-url li a:hover {
	color:#b5a997;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.language-switcher-locale-url .active {
	display:none;
}

/*
* Footer menu
*/
#footer .block ul.menu {
	margin: 0;
	padding: 0;
}

#footer .block ul.menu ul.menu {
	margin: 0 0 0 15px;
}

#footer .block ul.menu li {
	list-style: none;
	margin: 0;
	padding: 0;
	list-style-image: none;
}

#footer .block ul.menu li a {
	display: block;
	padding: 5px;
}

/*
* Footer-bottom menu
*/
ul.secondary-menu, #footer-bottom ul.menu {
	padding: 0;
	margin: 0 0 10px 0;
	display: block;
	overflow: hidden;
}

ul.secondary-menu li, #footer-bottom ul.menu li {
	display: block;
	float: left;
	list-style-type: none;
	overflow: hidden;
	padding: 0 10px;
	margin: 0;
}

ul.secondary-menu li.first, #footer-bottom ul.menu li.first {
	padding: 0 10px 0 0;
	margin: 0;
}

ul.secondary-menu li.last, #footer-bottom ul.menu li.last {
	border-right: none;
	margin: 0;
}

#footer-bottom ul.menu ul.menu {
	display: none;
}

/*
* Comments
*/
#comments {
	padding: 20px 0 0 0;
}

.comment {
	border: 1px solid #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	overflow: hidden;
	background: #ffffff;
	margin: 0 0 30px 0;
	/* shadow */
	-webkit-box-shadow: 0 2px 6px #efefef inset;
	-moz-box-shadow: 0 2px 6px #efefef inset;
	box-shadow: 0 2px 6px #efefef inset;
}

#comments-title {
	border: 1px solid #e7e7e7;
	padding: 5px 10px;
	display: block;
	overflow: hidden;
	margin: 0 0 30px 0;
	/* background */
	background: #fdfdfd;
	/* IE10 */
	background-image: -ms-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
	/* Opera */
	background-image: -o-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(1, #efefef));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
	/* Proposed W3C Markup */
	background-image: linear-gradient(top, #fdfdfd 0%, #efefef 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef');
	/* radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#comments-title h2 {
	padding: 0;
	margin: 0;
}

#comments-title-left {
	float: left;
	width: 50%;
}

#comments-title-right {
	float: right;
	width: 50%;
	text-align: right;
}

#comments-title-right .counter {
	color: #979696;
	font-weight: bold;
	font-size: 20px;
	background: transparent url('images/comments.png') no-repeat center left;
	padding: 0 0 0 35px;
}

#comments h3 {
	margin: 0;
	padding: 10px 0 20px 0;
	font-weight: normal;
}

#comments ul.links {
	display: block;
}

#comments ul.links li a {
	color: #fefefe;
	padding: 5px 10px;
	margin: 0 0 0 2px;
	text-shadow: 0 1px 1px #003547;
	font-weight: bold;
	border: none;
	cursor: pointer;
	/* radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* shadow */
	-webkit-box-shadow: 0px 1px 2px #939da2;
	-moz-box-shadow: 0px 1px 2px #939da2;
	box-shadow: 0px 1px 2px #939da2;
}

#comments ul.links li a:hover {
	text-decoration: none;
}

/*
* webform
*/

#webform-component-email, #webform-component-fax-number, #webform-component-address-line-2, #webform-component-zip {
  float: none !important;
}

.form-item {
  margin: 0 0 20px 0 !important;
  clear: both;
}
.submitted {
  display:none;
}
/*
* Poll
*/
.poll .bar .foreground {
	background-color: #0092c3;
}

.poll .title {
	padding: 0 0 20px 0;
}

/*
* Recent content block
*/
#block-node-recent table, #block-node-recent td {
	border: none;
}

#block-node-recent table tbody {
	border: none;
}

#block-node-recent tr.even, #block-node-recent tr.odd {
	border-bottom: 1px solid #e7e7e7;
}

/*
* Search
*/
#block-search-form {
	background: #e8e8e8;
	border: none;
	overflow: hidden;
	/* Radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* shadow */
	-webkit-box-shadow: 0px 2px 5px #c8c8c8 inset;
	-moz-box-shadow: 0px 2px 5px #c8c8c8 inset;
	box-shadow: 0px 2px 5px #c8c8c8 inset;
}

#header #block-search-form {
	margin: 15px 0 0 0;
}

#block-search-form .form-item {
	margin: 0;
	padding: 0;
}

#block-search-form input.form-text {
	background: none;
	border: none;
	outline: none;
	text-decoration: none;
	color: #9f9f9f;
	float: left;
	width: 70%;
	padding: 10px;
	margin: 0;
	height: 15px;
	line-height: 15px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#block-search-form input.form-submit {
	background: none;
	border: none;
	outline: none;
	padding: 6px 10px 0 10px;
	float: right;
}
region-sidebar-second #block-search-form {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.region-sidebar-second #block-search-form.block {
	background: none;
}
.region-sidebar-second #block-search-form.block .content {
	background: #ffffff;
	border: 1px solid #FFFFFF;
	overflow: hidden;
	padding: 0;
}

/*
* Messages
*/
div.messages.status {
	background: #52ac61;
	border: 1px solid #46a055;
	padding: 10px;
	margin: 0 0 15px 0;
	color: #ffffff;
}

div.messages.error {
	background: #d30000;
	border: 1px solid #b50000;
	padding: 10px;
	margin: 0 0 15px 0;
	color: #ffffff;
}

div.messages.warning {
	background: #dd6e0c;
	border: 1px solid #d2ac7f;
	padding: 10px;
	margin: 0 0 15px 0;
	color: #ffffff;
}

div.messages.status a, div.messages.error a, div.messages.warning a {
	color: #ffffff;
	text-decoration: underline;
}

div.messages ul li {
	color: #ffffff !important;
}

/*
* Javascript Slideshow
*/
#slider {
	position: relative;
	margin: 0 auto;
	padding: 0;
}

#slideshow {
	position: relative;
	display: none;
}

#slideshow img {
	display: none;
}

.slider-item {
	width: 100%!important;
	max-width: 100%!important;
}

.slider-item .content {
	padding: 30px 0 0 0;
	position: relative;
}

.slider-item a {
	outline: none;
}

#slider-controls-wrapper {
	padding: 20px 0;
	display: none;
}

#slider-controls {
	display: block;
	text-align: center;
}

#slider-controls ul {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: center;
}

#slider-controls ul li {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}

#slider-controls ul li a {
	width: 17px;
	height: 17px;
	background: url('images/inactive-slide.png') no-repeat center center;
	display: inline-block;
	padding: 0;
	margin: 0;
	outline: none;
}

#slider-controls ul li a:focus {
	outline: none;
}

#slider-controls ul li.activeSlide a:hover, #slider-controls ul li.activeSlide a {
	background: url('images/active-slide.png') no-repeat center center;
}

/*
* Slideshow Typography
*/
#slideshow h2 {
	margin: 0 0 10px 0;
	color: #222222;
	font-size: 30px;
	font-weight: bold;
}

/*
* Tables
*/
table {
	border-spacing: 0;
	border: 0;
	width: 100%;
}

table td, table th {
	border: 1px solid #bbbbbb;
}

table th {
	background: #222222;
	color: #ffffff;
	font-weight: bold;
}

table tr.odd {
	background: transparent;
}

table tr.even {
	background: #ffffff;
}

table td, table th {
	padding: 5px;
}
/* Remove table borders */
table.noborder td, table.noborder th, table.noborder tr {
	border: none;
}

/*
* Lists
*/
ol {
	list-style-type: decimal;
}

ol ol {
	list-style-type: upper-alpha;
}

ol ol ol {
	list-style-type: lower-alpha;
}

li {
	display: list-item;
}

.pager-current {
	font-weight: bold;
	color: #7c713f;
}

.links {
	display: block;
	text-align: right;
}

.links li {
	list-style-type: none;
}

.item-list ul {
	margin: 0 0 0.25em 1em;
	padding: 0;
}

.item-list ul li {
	margin: 0 0 0 5px;
	padding: 0 0 5px 5px;
}

ol.search-results {
	padding: 0;
}

.links ul li a:hover, a.more:hover,
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	text-decoration: none;
}

.resizable-textarea .grippie {
	border: 1px solid #dddddd;
}

#edit-submit, #edit-preview {
	margin: 0 10px 0 0;
}

#block-search-form input.form-submit {
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
	filter: none;
}

ul.inline li {
	display: inline-block;
	margin: 0;
	padding: 10px 5px;
	zoom: 1; *display: inline;
}

input.form-submit {
	margin: 0 10px 0 0;
}

/*
* Forms
*/
label {
	font-weight: bold;
}
.form-item, 
.form-actions {
	margin:0px;
}
input.form-text {
	background: #f1f1f1;
	border: 1px solid #c9cacc;
	height: 18px;
	line-height:18px;
	margin: 0 0 10px 0;
	padding:2px 5px;
	width: 80%;
	color: #5f6a5f;
}

input.form-text.error {
	border: 2px solid red;
}
.form-textarea-wrapper textarea,
textarea {
	background: #f1f1f1;
	border: 1px solid #c9cacc;
	margin: 0 20px 10px 0;
	padding: 10px 5px;
	height: 100px;
	font-size:13px;
	color: #5f6a5f;
	width:92%;
}

.filter-wrapper {
	border: 1px solid #DDDDDD;
	border-top: none;
}
/** Contact form **/
#webform-component-name,
#webform-component-phone-number,
#webform-component-address-line-1 {
	width:48%;
	float:left;
}
#webform-component-email,
#webform-component-fax-number,
#webform-component-address-line-2,
#webform-component-zip {
	float:right;
	width:48%;
}
#webform-component-city {
	float:left;
	width:30%;
}
#webform-component-state {
	width:10%;
	float:left;
}
#webform-component-message {
	clear:both;
}
/*
* Social
*/
.connect-login-block .block-content {
	position:relative;
}
.connect-login-block .connect-area {
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:13px;
	letter-spacing:0.03em;
}
.connect-login-block .connect-area a {
	color:#0068b3;
}
.connect-login-block .login-area {
	position:absolute;
	bottom:0px;
	right:0px;
}
/*
* Forum
*/
#forum {
	padding: 20px 0;
}
/**
* Local tasks
*/
ul.primary, ul.tabs {
	clear: both;
	margin: 10px 0 35px 0;
	white-space: normal
}

ul.primary li, ul.tabs li {
	padding: 10px 0;
	line-height: 130%;
}

ul.primary li a, ul.tabs li a {
	margin: 0;
	padding: 4px 1em;
	display: inline-block;
}
/** Slideshow **/
.view-slideshow {
	position:relative;
}
.views_slideshow_cycle_main {
	position:relative;
	z-index:900;
}
.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
.views_slideshow_cycle_main .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
/** Skinr styles **/
.slideshow-block {
	width:100%;
	height:720px;
	overflow:hidden;
	padding:0;
	position:relative;
}
.slideshow-block .block-content {
	width:1404px;	
	height:auto;
	position:absolute;
	left:50%;
	margin-left:-702px;
}
.banner-block {
	width:100%;
	height:720px;
	overflow:hidden;
	padding:0;
	position:relative;
}
.banner-block .block-content {
	width:1404px;	
	height:auto;
	position:absolute;
	left:50%;
	margin-left:-702px;
}
.region-background-blocks {
}
/** Branded box **/
.arancino-box {
	background:transparent url('images/featured-bg.png') no-repeat 0 0;
	background-size: cover;
	-moz-background-size: cover;
	width:471px;
	height:343px;
	overflow:hidden;
	position:absolute;
	top:139px;
	left:0px;
}
.slide-image {
}
.arancino-box .block-content {
	padding:14% 7% 7.21% 6%;
	color:#7d736f;
}
.arancino-box .block-content p {
	padding-bottom:9px;
	line-height:19px;
}
.arancino-box .block-content h3 {
	font-size:22px;
	line-height:27px;
	padding:8px 0 3px 0;
	color: #381b1b;
}
/**
* views
**/
/* menu page */
.view-restaurant-menu {
	
}
.view-restaurant-menu .view-content {
	
}
.view-restaurant-menu .views-exposed-form, .quicktabs-tabpage .views-exposed-form {
	position:relative;
	top:-11px;
}
.view-restaurant-menu .view-content .views-row, .quicktabs-tabpage .view-content .views-row {
	position:relative;
	width:100%;
	/*height:100px;*/
	padding:0px;
	margin: 0 0 20px 0;
}
.views-row p {
	padding: 0;
}
.view-restaurant-menu .view-content .views-row .views-field, .quicktabs-tabpage .view-content .views-row .views-field {
	padding:0 0 0 60px;
}
.view-restaurant-menu h3, .quicktabs-tabpage h3 {
	padding:20px 0 15px 85px;
	font-size:22px;
	font-weight:normal;
	color:#807665;
}
.view-restaurant-menu .view-content .views-row .views-field h1, .quicktabs-tabpage .view-content .views-row .views-field h1 {
	font-size:16px;
	line-height:19px;
	color:#381b1b;
	font-weight:normal;
	text-transform:none;
}
.view-restaurant-menu .view-content .views-row .views-field h1 .item-cost, .quicktabs-tabpage  .view-content .views-row .views-field h1 .item-cost {
	font-size:15px;
	padding:0 0 0 14px;
	font-style:normal;
}
.view-restaurant-menu .view-content .views-row .views-field p, .quicktabs-tabpage  .view-content .views-row .views-field p {
	font-size:13px;
	line-height:16px;
}
.view-restaurant-menu .view-content .views-row .menu-item-photo, 
.quicktabs-tabpage .view-content .views-row .menu-item-photo {
	position:absolute;
	width:50px;
	height:54px;
	top:0px;
	left:0px;
	text-indent:-9999px;
	padding:0px;
}
.view-restaurant-menu .view-content .views-row .menu-item-photo .views-tooltip, 
.quicktabs-tabpage .view-content .views-row .menu-item-photo .views-tooltip {
	width:32px;
	height:24px;
	background:transparent url('images/icon_camera.svg') no-repeat 0 0;
	background:transparent url(/sites/all/themes/arancino/images/icon_camera.svg) no-repeat 0 0;
	background-size: cover;
 	-moz-background-size: cover;
}
.tipsy-inner {
    background-color: #f6f6f5;
    color: #FFF;
    max-width: 350px;
    padding: 5px 8px 4px 8px;
    text-align: center;
}
/* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #f6f6f5; }
  .tipsy-arrow-s { border-top-color: #f6f6f5; }
  .tipsy-arrow-e { border-left-color: #f6f6f5; }
  .tipsy-arrow-w { border-right-color: #f6f6f5; }
.kahala-menu h3 {
	font-size: 22px;
	line-height: 20px;
	padding: 20px 0 15px 0px;
	font-weight: normal;
}
.kahala-menu h4 {
	font-size: 18px;
	line-height: 20px;
	color: #381b1b;
	font-weight: normal;
	text-transform: none;
}
/* News */
.article-new-page .views-row {
	padding:0px;
	margin:0px 0 28px 0;
	position:relative;
	clear: both;
}	
.article-new-page .article-title {
	font-size:20px;
	line-height:24px;
	letter-spacing:0.03em;
	color:#819596;
	padding:0 0 5px 200px;
}
.article-new-page .article-title a {
	color:#819596;
}
.article-new-page .article-title a:hover {
	text-decoration:underline;
}
.article-new-page .article-description, .article-new-page p {
	padding:0 0 17px 200px;
}
.article-new-page .article-description p {
	padding:0px;
}
.article-new-page .article-link {
	text-align:right;
}
.article-new-page .article-link a {
	margin:;
}
.article-new-page .article-link a:hover {
	text-decoration:underline;
}
.article-new-page .article-thumb, .article-new-page img {
	position:absolute;
	top:0px;
	left:0px;
	background: #e3e7e7 url('images/trans-dots-35.png')  repeat 0 0;
	padding:7px;
}
/* article block */
.block .view-articles ul {
	margin:0px;
	padding:0px;
}
.block .view-articles ul li {
	margin:0px;
	padding:0px 0 15px 0;
	list-style-type:none;
	font-size:16px;
	font-weight: bolder;
	line-height:19px;
	letter-spacing:0.03em;
	color:#ad9d87;
}
.block .view-articles ul li a {
	color:#181716;
}
.block .view-articles ul li a:hover {
	color: #85837B;
    	transition: all 0.3s ease-in 0s;
}
/** Location Map Block **/
.location-map-block {
	padding:0 0 25px 0;
}
.location-map-block .block-content {
	background:transparent url('images/bg_beige.jpg') repeat 0 0;
	margin:0px;
	padding:9px;
} 
#block-views-location-map-block-1  .view-header {
	float:right;
	max-width:170px;
}
#block-views-location-map-block-1 .view-header ul {
	margin:0px;
	padding:0px;
}
#block-views-location-map-block-1 .view-header ul li {
	margin:0px;
	padding:0px 10px 0 0;
	list-style-type:none;
	float:left;
	width:33px;
	height:33px;
	overflow:hidden;
}
#block-views-location-map-block-1 .view-header ul li:last-child {
	padding-right:0px;
}
#block-views-location-map-block-1 .view-header ul li a {	
	width:33px;
	height:33px;
	overflow:hidden;
}
#block-views-location-map-block-1 .view-header p {
	padding:0 0 12px 0;
}
#block-views-location-map-block-1 .view-content {
	float:left;
}
li.social-icon, li.social-icon a {
	width: 33px;
	height: 33px;
	display: block;
	padding: 33px 0 0 0;
	overflow: hidden;
	text-indent: 2000px;
	background-position: 0 0;
}
li#facebook a{
	background: transparent url(images/icon_fb.png)	0 0 no-repeat;
	height: 33px;
}
li#twitter a{
	background: transparent url(images/icon_tw.png)	0 0 no-repeat;
	height: 33px;
}
li#tripadvisor a{
	background: transparent url(images/icon_ta.png)	0 0 no-repeat;
	height: 33px;
}
li#yelp a{
	background: transparent url(images/icon_yp.png)	0 0 no-repeat;
	height: 33px;
}
li#instagram a{
	background: transparent url(images/icon_ig.png)	0 0 no-repeat;
	height: 33px;
}
li#facebook a:hover, li#twitter a:hover, li#tripadvisor a:hover, li#yelp a:hover, li#instagram a:hover {
	background-position: 0 -33px;
}
/** Photos View Block **/
.view-photo-block .views-view-grid.cols-6 {
	width:100%;
	max-width:600px;
	
}
.view-photo-block .views-view-grid.cols-6 td {
	width:16%;
	max-width:600px;	
}
.view-photo-block .view-footer {
	padding:12px 0 0 0;
}
.view-photo-block .view-footer a {
	text-decoration:underline;
}
#block-views-photo-block-block .block-title {
	padding:0 0 16px 0;
}
/** Quick tabs **/
ul.quicktabs-tabs.quicktabs-style-zen li a {
	font: bold 12px/170%;
	font-family: "proxima-nova",arial,helvetica,sans-serif !important;
	padding: 4px 10px 0 5px !important;
}
/**
* Responsive embed, object, iframe
*/
embed, object, iframe {
	width: 100%;
	/*height: auto;*/
}

/** FAQs Accordion Block **/
.page-node-594 #main .block-views {
	margin: 0 0 35px 0;
}
.page-node-594 #main h2{
    font-size: 18px;
}

.ui-corner-top, .ui-corner-all {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #ad9d87;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #ad9d87;
    background: #f6f6f5;
    color: #494949;
}
.ui-accordion .ui-accordion-header {
	margin-top: 6px;
}
.ui-widget-content a {
	color: #c32d28;
}