/* Style for view displays
------------------------------------------------
[Table of contents]

 1. Block Width
 2. Block Width Extra
 3. Block Colors
 4. Block Element Styles
 5. Block User Added Styles

------------------------------------------------*/
/**********************
**
*  1.Block Width
**
**********************/
.full-width-block {
	width:100%;
	margin:0px;
	padding:0px;
	border:none;
	clear:both;
}
.full-width-block .block-outer {
	padding:0 2px;
}
.half-width-block {
	float:left;
	width:50%;
	margin:0px;
	padding:0px;
	border:none;
}
.half-width-block .block-outer {
	padding:0 2px;
}
/**********************
**
*  2.Block Width Extras
**
**********************/
.block-qseg-one .block-outer {
	padding:0 2px 0 0;
}
.block-qseg-two .block-outer  {
	padding:0 2px;	
}
/**********************
**
*  3.Block Colors
**
**********************/
#container .block-basic .block-title {
	font-size:24px;
	line-height:30px;
	letter-spacing:0.06em;
	font-weight:normal;
	position:relative;
}
#container .block-basic-quote .block-title {
	font-size:24px;
	line-height:30px;
	letter-spacing:0.06em;
	font-weight:normal;
	position:relative;
}
#container .block-basic-quote .block-inner {position:relative;}
#container .block-basic-quote .block-inner:before {
	content:'“';
	font-family: 'Droid Serif', serif;
	font-size:60px;	
	color:#f1cb00;
	left: -30px;
  position: absolute;
 	top: 0px;
}
#container .block-basic-greater .block-title {
	font-size:23px;
	line-height: 26px;
	padding: 0 0 5px 0;
	letter-spacing:0.06em;
	font-weight:normal;
	position:relative;
}
#container .block-basic-greater .block-inner {position:relative;}
#container .block-basic-greater .block-inner:before {
	content:'>';
	font-family: 'Droid Serif', serif;
	font-size:30px;	
	font-weight:bold;
	color:#f1cb00;
	left: -20px;
  position: absolute;
 	top: 1px;
}
#container .block-logo-spacing img {
	padding:0 0 32px 0;	
}
/**********************
**
*  4.Block Element Styles
**
**********************/
#highlighted .block-sans-padding .block-content,
#sidebar-right .block-sans-padding .block-content,
#header .block-sans-padding .block-content,
#footer .block-sans-padding .block-content,
#main .block-sans-padding .block-content {
	padding:0px;
}
.block-sans-margin {
	margin:0px;
}
.region-highlighted .block-sans-pad-lr
.region-highlighted .block-sans-pad-lr .block-outer,
.region-highlighted .block-sans-pad-lr .block-inner,
.region-highlighted .block-sans-pad-lr .block-title,
.region-highlighted .block-sans-pad-lr .block-content,
.block-sans-pad-lr,
.block-sans-pad-lr .block-outer,
.block-sans-pad-lr .block-inner,
.block-sans-pad-lr .block-title,
.block-sans-pad-lr .block-content {
	padding-left:0px;
	padding-right:0px;
}
.block-bypass {
	float:none;
	clear:both;
}
