/********************************
***
*  Scrollable styles
***
********************************/
/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(images/arrows.png) no-repeat;
	display:block;
	width:15px;
	height:30px;
	margin:0px;
	padding:0px;
	cursor:pointer;
	font-size:1px;	
}
a.browse:hover {
	-webkit-transition: all .0s ease-in;
	-moz-transition: all .0s ease-in;
	-ms-transition: all .0s ease-in;
	-o-transition: all .0s ease-in;
	transition: all .0s ease-in;
}
/* right */
a.right { 
	background-position: 0px 0px;  
	margin: 0px;
	position:absolute;
	right:-25px;
	top:105px;
}
a.right:hover { 
	background-position: 0px -30px;
}
a.right:active { 
} 

/* left */
a.left { 
	background-position: 0px -73px;
	position:absolute;
	top:105px;
	left:-25px;
} 
a.left:hover { 
	background-position: 0px -103px;
}
a.left:active { 
}
/* disabled navigational button */
a.disabled,
a.disabled:hover {
	visibility:visible !important;	
	opacity: .2;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}
.scroll-wrap {
	width:750px;
	position:relative;
	height:247px;
	padding:0px;
	margin:0px auto;
}
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
	/* required settings */
	position:absolute;
	left:0px;
	top:7px;
	height:247px;
	width: 750px;
	overflow:hidden;

}
/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}
.items div {
	float:left;
	width:880px;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:0;
	padding:0px;
}

/* active item */
.scrollable .active {
	cursor:default;
}
/********************************
***
*  Scrollable styles GALLERY
***
********************************/
.node-type-photo-gallery #image_wrap {
	float:none;
	width:600px;
	min-height:334px;
	height:auto !important;
	height:334px;
	margin:0px auto;
	text-align:center;
}
.node-type-photo-gallery #image_wrap h6 {
	font-size:16px;
	padding:15px 0 28px 0;
	margin:0px;
}
.node-type-photo-gallery .scroll-wrap {
	float:none;
	width:600px;
	height:75px;
	margin:0px auto;
}
.node-type-photo-gallery .scrollable {
    height: 75px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 600px;
}	
.node-type-photo-gallery .items div {
    float: left;
    width: 100px;
	height:100px;
	overflow:hidden;
}
.node-type-photo-gallery .items .field-content {
	display:block;
	float:none;
	width:75px;
	height:75px;
	padding:0;
	margin:0px auto;
	text-align:center;
}
.node-type-photo-gallery a.browse {
	top:;
}
.node-type-photo-gallery a.right {
    right: -30px;
    top: 20px;
}
.node-type-photo-gallery a.left {	
  top: 20px;
	left: -30px;
}
